@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Suji & Gyo's Assignment1</h1>
    <p>Gwanggyo Oh A01045394
        Suji Kang A01287590 </p>
</div>

